# Scala
*.class
*.log
*.bsp
.bloop/
.metals/
.scala-build/
project/metals.sbt

# Mill
out/
.mill-version
.bsp/
mill.*

# IDE
.idea/
.idea_modules/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Application
target/
logs/
*.db
config/local.*
